@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: 'Gideon Roman', cursive;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-x: hidden; */
}

footer {
  background-color: #8DD3BB;
  ;
}

.mailbox {
  background-color: #CDEAE1;
  ;
}

.plantrip {
  background-color: red;
  background: url('./images/flight.png')no-repeat center/cover;
}

.plantrip1 {
  background-color: red;
  background: url('./images/hotels.png')no-repeat center/cover;
}